<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">PiPlant</a>
  <div class="dropdown">
    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Plant</button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/">Plant 1</a>
      <a class="dropdown-item" href="/">Plant 2</a>
      <a class="dropdown-item" href="/">Plant 3</a>
    </div>
  </div>
</nav>
